table.trait-selection .slider .slider-track .slider-selection, table.trait-selection .slider .tooltip {
    display: none;
}

table.trait-selection tbody tr td {
    border-top: none;
}

table.trait-selection tbody tr:first-child td {
     padding-top: 20px;
 }

.trait-selection-tab .content {
    background: #FFFFFF;
    padding-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.trait-selection-tab .tab-pane.active {
    /*display: -moz-deck;*/
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
}

.fa.fa-2 {
    font-size: 2em !important;
}
.fa.fa-3 {
    font-size: 4em !important;
}
.fa.fa-4 {
    font-size: 7em !important
}
.fa.fa-5 {
    font-size: 12em !important;
}
.fa.fa-6 {
    font-size: 20em !important;
}

table#job-matches td img {
    display: inline !important;
}

div.border-separator {
    height: 2px;
    background: #E6E9ED;
    width: 100%;
    margin-bottom: 10px;
}

div.loading-results {
    padding: 20px 0;
}

#filter-applicants .slider-tick, #filter-matches .slider-tick {
    width: 0;
    height: 0;
}

div#applicants, div#candidates {
    padding: 20px;
}

div.profile_img .crop-avatar img {
    height: 150px !important;
}

.message-box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.conversation-list-container {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 800px;
    padding-left: 0px;
    padding-right: 0px;
    background: #FFFFFF;
}

.conversation-content {
    background: #FFFFFF;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 800px;
}

.conversation-list-container .conversation-header, .conversation-content .conversation-header {
    background: #EDEDED;
    height: 50px;
    border-bottom: 1px solid #ccc;
}

.search-conversation-list {
    padding-top: 10px;
}

.conversation-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px 0;
    cursor: pointer;
}

.conversation-item span.participant-name, .new-conversation-item span.participant-name {
    font-weight: 600;
}

.conversation-list .conversation-item:first-child {
    margin-top: -9px;
}

.conversation-list .conversation-item:hover, .conversation-list .conversation-item.selected {
    background: #E6F6F4;
}

.user-message {
    background: #6DC9FF;
    border-radius: 4px;
    padding: 10px;
}

.recipient-message {
    background: #EAEAEA;
    border-radius: 4px;
    padding: 10px;
}

.conversation-content .reply-container {
    background: #EDEDED;
    height: 55px;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.reply-container button {
    height: 33px;
}

.reply-container textarea {
    height: 36px;
    width: 100%;
    resize: none;
}

.message-time-wr {
    font-size: 12px;
}

.conversation-messages {
    overflow-x: auto;
    max-height: 695px;
}

.no-conversation-item, .new-conversation-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: -9px;
    height: 60px;
}

.conversation-header .col-md-4 {
    margin-top: 10px;
}

.new-conversation-item.selected {
    background: #E6F6F4;
}