/*================CSS Reset==========*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

/*===================================*/

body {font-family: 'Montserrat', 'Open Sans', sans-serif;font-size:18px;color:#424242;font-weight:300;background:#fff;padding-top:53px;}
h1,h2,h3,h4,h5,h6 {margin:15px 0;line-height:1.25em;}
h1 {font-size:42px;}
h2 {font-size:36px;}
h3 {font-size:28px;}
h4 {font-size:22px;}
h5 {font-size:18px;}
h5 {font-size:16px;}

p {margin:15px 0;
    line-height: 1.4em;font-family: 'Open Sans', sans-serif;    font-size: 14px;}
b,strong {font-weight:400;}
a {color:#525252;}
i,em {font-style:italic;}
.alignleft {float:left;margin-right:20px;}
.alignright {float:right;margin-left:20px;}
.aligncenter {display: block;margin-left: auto;margin-right: auto;}
.clear {clear:both;}
hr {height:1px;border:0;background:#898989;}
body .btn-default {color:#fff;border:0;background:#1ABB9C;}
body .btn-default:hover {background:#1ABB9C;color:#fff;}
body .btn-primary {color:#000;border:0;background:#fecc46;}
body .btn-primary:hover {background:#fecc46;}
body .btn-info {color:#fff;border:1px solid #1ABB9C;background:none;}
body .btn-md {padding:8px 30px;font-size:22px;border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;}
body .btn-lg {padding:20px 98px;font-size:36px;border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;}
.padded {padding-top:40px;padding-bottom:40px;}
.text-white {color:#fff !important;}

#header {width:100%;max-height:53px;background:#fff;position:fixed;top:0;z-index:20;padding-top:8px;padding-bottom:8px;box-shadow:0px 1px 3px #929191;}

#menu ul {text-align:right;}
#menu ul li {display:inline-block;margin-left:30px;}
#menu ul li a {font-size:16px;color:#424242;display:block;text-decoration:none;padding:8px 0;}

.mobile-menu-trigger { width: 40px;height: 40px;padding: 25px 0;display: block;background: url(/images/mobile-toggle-icon.png) center center no-repeat;cursor: pointer; }
.mm-menu > .mm-panel { padding: 0 !important; }
#mobile-menu ul { padding: 0;margin: 0; }
#mobile-menu ul > li a:hover,
#mobile-menu ul > li.mm-selected a { background: rgba(255, 255, 255, 0.6);color: #eb1f1c; }
#mobile-menu ul > li:after { margin: 0; }

#content {font-size:24px;}
#content .bullet { list-style-image:url(images/bullet.png);margin-left:30px;}
#content .bullet li {margin-bottom:6px;line-height:1.25em;}
#content .text-white .check-mark { list-style-image:url(images/check-mark2.png);margin-left:30px;}
#content .check-mark { list-style-image:url(images/check-mark.png);margin-left:30px;}
#content .check-mark li {margin-bottom:6px;line-height:1.25em;}
.custom-bg1 { background: url(/images/media1.png) #1abb9c no-repeat center center; background-size: cover; background-attachment: fixed; padding-top: 160px; padding-bottom: 145px;}

table td {padding:8px 10px;}

body form label {display:block;}
body form input {background:none;border:1px solid #fff;height:30px;padding-left:14px;padding-right:14px;border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;}
body form select {border:1px solid #000;border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;}
body form textarea {background:#fff;border:0;height:154px;border:1px solid #000;border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;}
body form .submit {background:#46acb0;border:1px solid #46acb0;font-size:18px;height:30px;padding-left:14px;padding-right:14px;}

body .form-wrap {background:#1ABB9C;padding:17px 12px;border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;}
body .form-wrap form label {color:#fff;}
body .form-wrap form input[type=text] {width:100%;height:30px;font-size:14px;color:#fff;}
body .form-wrap form select {width:100%;height:30px;font-size:14px;color:#1ABB9C;border:1px solid #fff;background:#fff;}
body .form-wrap form input[type=submit] {width:30px;height:30px;background:url(images/submit-button.png) no-repeat;display:block;border:0;overflow:hidden;text-indent:-999px;}

#footer {color:#434343;font-size:14px;}
#footer a {color:#434343;text-decoration:none;}
#footer h3 {color:#434343;font-weight:400;font-size:16px;margin-bottom:20px;}
#footer ul li {margin-bottom:12px;}

.col-centered {
    display:block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin:0 auto;
}

@media (min-width: 1200px) {
	.container {width:1200px;padding-left:0;padding-right:0;}
	.container1300 {width:1300px;}
}

@media (max-width: 360px) {
	.student .section-4 .padded{
		padding: 0px;
	}
	.student .section-5 p{
		text-align: center;
	}
	.student .feature-box{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#footer {
		text-align: center !important;
	}
}

@media (max-width: 992px) {
	.student .section-4 .padded{
		padding: 0px;
	}
	.student .section-5 p{
		text-align: center;
	}
	.student .feature-box{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#footer {
		text-align: center !important;
	}
}

@media (max-width: 768px) {
	.student .section-4 .padded{
		padding: 0px;
	} 
	.student .section-5 p{
		text-align: center;
	}
	.student .feature-box{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#footer {
		text-align: center !important;
	}
}
@media (min-width: 992px) { 

}


/*----------------------Student--------------------------------*/
#header.student{
  box-shadow: none;
}

.student #menu ul li a{
	font-weight: 900;
	color: #1abb9c;
}

.student #menu ul li:nth-child(3) a{
	padding: 8px 30px;
	color: #fff;
}

.student .padded{
	padding-top: 20px;
	padding-bottom: 20px;
}

.student .custom-bg2 {
    background: url(/images/media1.png) no-repeat center top;
    background-size: cover;
    padding-top: 256px;
    margin-top: 215px;
}

.student .custom-bg2 h1{
	font-weight: 900;
	font-size: 55px;
	color: #1abb9c;
}

.student .custom-bg2 h4{
	color: #424242	;
}

.student .custom-bg2 a{
	margin: 10px;
}

.student .custom-bg1 p a.btn-info{
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.student .h-line{
	height: 1px;
    background: #eee;
    margin: 30px 90px;
}

.student h1{
	font-weight: bold;
    color: #1abb9c;
    font-size: 33px;
}

.student h3{
	color: rgba(33,33,33,.76);
	font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .03em;
    text-transform: none;
    line-height: 1.2em;
}

.student .laptop-img{
    background: url(/images/dribbble.png) no-repeat center center;
    background-size: cover;
    width: 900px;
    height: 500px;
    margin: 35px auto;
    display: block;
}

.student .laptop-img iframe{
    position: relative;
    top: 56px;
    left: 0;
    height: 352px;
}

.student .section-3 p{
    text-align: left;
    font-family: 'Open Sans';
    font-size: 14px;
    padding:0 30px;
}

.student .section-3 p.summary{
	padding:0 30px;
}

.student .section-3 p strong{
	font-weight: bold;
}

.student .section-3 img{
	height: 190px;
}

.student p{
	font-size: 16px;
}

.student .feature-box{
	background: #eee;
	border-radius: 45px;
	padding: 10px 5px;
	margin-right: 35px;
/*    text-align: center;
    margin: 20px auto;*/
}

.student strong{
	font-weight: 400;
}

.student .section-4 img{
    height: 60px;
    width: 60px;
    margin: 15px auto;
}

.student .section-4 h4{
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 18px;
}
.student .section-4 p{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
}

.student .section-5 p{
	font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .02em;
    line-height: 1.6em;
}

.student .section-5 img{
	height: 250px;
	width: 250px;
}

.student .section-6 a{
	font-weight: 900;
	font-size: 18px;
}

.student .section-6 a.btn-info{
    color: #fff;
    background-color: #269abc;
    border-color: #269abc;	
}

/*----------------------Student FAQ--------------------------------*/

#student-faq h4{
	color: #73879C;
	font-weight: 600;
}

#student-faq .panel-body{
    line-height: 1.5em;
}

#student-faq ul.tabs-left{
    border-bottom: none;
    padding-top: 2px;
}

#student-faq .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}


#student-faq .tabs-left>li.active>a, .tabs-left>li.active>a:hover, .tabs-left>li.active>a:focus {
    border-bottom-color: #F7F7F7;
    border-right-color: transparent;
}


#student-faq ul.tabs-left>li{
	float: none;
	margin-bottom: 2px;
}

#student-faq ul.tabs-left>li a{
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
    background: #F7F7F7;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*----------------------Employers FAQ--------------------------------*/

#faq{
	background:url(/images/media1.png) #f1f1f1 no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

#faq .container{
	background-color: #fff;
    margin-top: 60px;
    padding: 20px;
}

#faq .h-line{
	height: 1px;
    background: #eee;
    margin: 30px 0;
}

#faq .container{
    margin-top: 60px;
    padding: 20px;
}

#faq .green-header{
	color: #1abb9c;
}

#faq strong{
	font-weight: 400;
}

#faq ol li{
	list-style: decimal;
	font-size: 1.02em;
	font-weight: 500;
	margin-bottom: 12px;
}

#faq ol{
	margin: 40px;
}

#faq ol#faq-content{
	margin: 0px 40px 40px;
}

#faq ol#faq-content li{
	margin-bottom: 20px;
}

#faq a{
	text-decoration: underline;
}



/*----------------------Privacy--------------------------------*/

#privacy{
	background:url(/images/media1.png) #f1f1f1 no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

#privacy .container{
	background-color: #fff;
    margin-top: 60px;
    padding: 20px;
}

#privacy .h-line{
	height: 1px;
    background: #eee;
    margin: 30px 0;
}

#privacy h2{
	color: #1abb9c;
}

#privacy strong{
	font-weight: 400;
}

ul.privacy-bullets{
	list-style: disc outside none;
	margin: 20px 40px;
}

ul.privacy-bullets li{
	margin-bottom: 14px;
}

/*----------------------Terms-of-service--------------------------------*/

#terms-of-service{
	/*background:url(/images/media1.png) #f1f1f1 no-repeat center center fixed;*/
	background: #f2f2f2;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

#terms-of-service .container{
	background-color: #fff;
    margin-top: 60px;
    padding: 20px;
    max-width: 950px;
    box-shadow: 0px 1px 1px #929191;
}

#terms-of-service .h-line{
	height: 1px;
    background: #eee;
    margin: 30px 0;
}

#terms-of-service h2{
	color: #1abb9c;
}

#terms-of-service strong{
	font-weight: 400;
}

#terms-of-service ol li{
	list-style: decimal;
	font-size: 1.02em;
	font-weight: 500;
}

#terms-of-service ol li h4{
	font-weight: 500;
}

#terms-of-service ol li p,
#terms-of-service .inner-list li{
    font-size: 18px;
    font-weight: 100;
    margin:40px 0;
}


#terms-of-service .inner-list-1 li{
    margin: 0 40px 8px;
}


/*----------------------CONTACT US--------------------------------*/

#contact{
	background:url(/images/media1.png) #f1f1f1 no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

#contact .container{
	background-color: #fff;
    margin-top: 60px;
    padding: 20px;
}

#contact .h-line{
	height: 1px;
    background: #eee;
    margin: 30px 0;
}

#contact h2{
	color: #1abb9c;
}

#contact strong{
	font-weight: 400;
}

#contact input[type=checkbox]{
	margin-top: -5px;
}

#contact button{
	border-radius: 4px;
}

/*----------------------TEAM--------------------------------*/
#team {
	background: #f2f2f2;
}

#team .container {
    background-color: #fff;
    margin-top: 60px;
    padding: 20px;
    box-shadow: 0px 1px 1px #929191;
    max-width: 950px;
}

#team .h-line{
	height: 1px;
    background: #eee;
    margin: 30px 0;
}

#team .container{
    margin-top: 60px;
    padding: 20px;
}

#team h2,
#team h4{
	color: #1abb9c;
}

#team strong{
	font-weight: 400;
}

#team img{
	width: 155px;
	height: 155px;
}

#team .row{
	margin-bottom: 70px;
}


/*----------------------Brands--------------------------------*/
#brands {
	background: #f2f2f2;
}

#brands .container {
    background-color: #fff;
    margin-top: 60px;
    padding: 20px;
    box-shadow: 0px 1px 1px #929191;
    max-width: 950px;
}

#brands .h-line{
	height: 1px;
    background: #eee;
    margin: 30px 0;
}

#brands .container{
    margin-top: 60px;
    padding: 20px;
}

#brands h2,
#brands h4{
	color: #1abb9c;
}

#brands strong{
	font-weight: 400;
}

#brands .brands-logo {
	max-width: 220px;
	display: block;
	margin: 25px auto 20px;
}

/*----------------------NEW MAIN PAGE--------------------------------*/
.c-banner{
	position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 999;
    width: 100%;
    background-color: #f2bd0d;
    font-weight: 900;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
}

.c-banner a strong{
	font-weight: 400;
	text-decoration: underline;
	color: #fff;
}

.c-banner span{
	font-size: 13px;
	font-weight: 600;
	font-style: normal;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 1.2em;
}

/*temporary top space*/
#header.main-navbar{
	top: 30px;
}
/*temporary height*/

#header.main-navbar{
    padding-top: 15px;
    padding-bottom: 56px;
}

.main-navbar #menu{
	margin-top: 10px;
	margin-left: 15px;
}

.main-navbar #menu ul li a{
	font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .12em;
    text-transform: uppercase;
    color: #999;
}

.main-navbar #menu ul{
	text-align: left;
}

.main-navbar #menu ul li{
	margin-left: 5px !important;
}

.main-navbar #menu ul li.active a{
	color: #050505;
}

.main-navbar #menu ul li a::after{
	content: '/';
	color: #9a9a9a;
	margin-left: 10px;
}

.main-navbar #menu ul li:last-child a::after{
	content:' ';
}

.main-navbar #menu ul li a:hover, .main-navbar #menu ul li a:active, .main-navbar #menu ul li a:focus{
	color: #1abb9c;
}

#content section{
	position: relative;
}

#content section.custom-bg1::before{
    content: ' ';
    display: block;
    background-color: rgba(0,0,0,0.15);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#content section.custom-bg1 h1{
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 62px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

#content section.custom-bg1 h4.custom-size{
	font-weight: 900;
	font-size: 26px;
	color: #cffff6;
	margin-top: 0px;
}

#content section .btn-beta{
    border-radius: 4px;
    font-size: 17px;
    padding: 15px 60px;
    background-color: #f57242;
}

#content section .btn-beta strong{
	font-weight: 400;
}

#content section .btn-beta:hover,
#content section .btn-beta:focus,
#content section .btn-beta:active{
	background-color: #d86237;
}

#footer section{
	padding-bottom: 0px
}

#footer img{
	width: 45px;
}


/*----------------------EMPLOYER--------------------------------*/

#pricingmodal h1{
	font-size: 42px;
}

#pricingmodal strong{
	font-weight: 400;
}

#pricingmodal table.pricing-label tbody p{
	margin: 2px;
}

#pricingmodal table.pricing-label thead p{
    margin: 26px 0 12px;
}

.btn.btn-custom {
	background: #FD7F56;
    box-shadow: 0px 1px 1px #5f5f5f;
    padding: 21px 34px;
    border-radius: 3px;
    font-size: 21px;
}

.btn.btn-custom:hover {
	background: #FD7F56;
	opacity: .8;
}

.inline-info {
	float: none !important;
    display: inline-block;
    vertical-align: middle;
}

