@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Montserrat-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    font-size: 14px;
}

h1, h2, h3, h4, h5, strong {
    font-family: 'Montserrat';
}

#head-logo {
    max-width: 31px;
    vertical-align: top;
    margin: 10px 10px;
}

.nav_title span {
    font-weight: 700;
    letter-spacing: 2px;
}

.premium-box {
	padding: 69px 19px 90px; 
	min-height: 399px;
}

.success-check {
	font-size: 60px;
    color: #1abb9c;
    margin: 25px 0 35px;
}

.big-btn {
	font-size: 24px;
    padding: 12px 28px;
    min-width: 120px;
}

.medium-btn {
	font-size: 18px;
	padding: 8px 24px;
	min-width: 100px;
}

#job-matches {
    margin-bottom: 0;
}

#job-matches tr:first-child td {
    border-top: 0;
}

#job-matches .go-to-job {
    cursor: pointer;
}

#job-matches td {
    padding: 24px 8px;
    display: table-cell;
    vertical-align: middle; 
}

.text-success {
    color: #1abb9c;
}

.saved-job {
    color: red;
}

.slider-handle {
    background-color: #fff;
    background-image: none !important;
    border: 2px solid #1abb9c;
}

.slider-handle.max-slider-handle {
    border: 2px solid #ffaa0e;
}

.slider.slider-disabled .slider-track,
.slider-selection,
.slider-track-high,
.slider-track-low, 
.slider-track {
    background-image:none;
    background: #b6f3e7;
    box-shadow: none;
}

.label-traits {
    display: block;
    clear: both;
    margin-bottom: 20px;
}

.label-traits span {
    margin: 0 20px;
}

.right_col .nav-tabs>li.active>a, .right_col .nav-tabs>li.active>a:focus, .right_col .nav-tabs>li.active>a:hover {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
    background: #fff;
    border-bottom: #fff 1px solid;
    color: #1abb9c;
}

.right_col .nav>li>a:hover, .right_col .nav>li>a:focus {
    background-color: #26d4b2;
    color: #fff;
    border-color: #1abb9c #1abb9c #1abb9c;
}

.right_col .nav-tabs {
    border-bottom: 1px solid #1abb9c;
}

.right_col .nav-tabs>li>a {
    color: #fff;
    cursor: default;
    background-color: #1abb9c;
    border: 1px solid #1c9880;
    border-bottom-color: transparent;
    cursor: pointer;
}

.center-round {
    border-radius: 100%;
    margin: 0 auto;
}

.img-round {
    border-radius: 100%;
}

.attribute-icon{
    max-width: 60px;
    margin: 0 0 12px;
}

.pricing-wrapper {
    padding-left: .5px;
    padding-right: .5px;
}

.pricing-table{
    width: 100%;
    display: block;
}

.pricing-table>thead>tr>th{
    border-bottom: 0;
}

.pricing-values>tbody>tr>td{
    padding: 13px 0 15px;
    border: 0;
}

.pricing-label > tbody > tr > td {
    padding: 17.81px;
    border: 0;
}

.pricing-table thead{
    min-height: 144px;
    display: block;
}

.pricing-table thead tr,
.pricing-table thead th,
.pricing-table tbody tr,
.pricing-table tbody td,
.pricing-table tbody{
    width: 100%;
    display: block;
}

.pricing-label>tbody>tr>td,
.pricing-label>thead{
    border-bottom: 1px solid #ddd;
}

.pricing-values thead{
    background: rgba(26, 187, 156, 0.78);
    color: #fff;
}

body.nav-sm .lg-logo{
    display: none;
}