@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #f8f7f5;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 800;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
    padding: 9px;
    height: 40px;
}

.btn {
	padding: 9px 12px;
	border-radius: 2px;
}

.btn-primary {
    color: #fff;
    background-color: #ef702e;
    border-color: #e66826;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1a8a74;
    border-color: #1abb9c;
}

.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle,
.btn-primary:focus, .btn-primary.focus,
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
    color: #fff;
    background-color: #1abb9c;
    border-color: #1a8a74;
}

.form-control {
	background: #eeeeee;
}

.signin-form {
	max-width: 300px;
	margin: 70px auto 0;
}

.signin-form h2,
.signin-form h3,
.signin-form h4 {
	display: block;
	text-align: center;
	margin: 0 0 24px;
}

.signin-form .note {
	text-align: center;
}

.signin-form .note span {
	display: block;
}

.signin-form .help-block strong {
    font-size: 12px;
}

.signin-btn {
	width: 100%;
}

.narrow-wrapper {
    max-width: 500px;
    margin: 0 auto;
}

#page-wrapper {
    background-color: transparent;
}

.breadcrumb {
    background-color: #e8e8e8;
}

.top-nav>li {
    float: none;
    vertical-align: middle;
}

.container-fluid {
    max-width: 1000px;
}

.btn-primary {
    color: #fff;
    background-color: #1abb9c;
    border-color: #1a8a74;
}

.login-logo {
    max-width: 250px;
}

/*--------------------------Login & Signup animation--------------------------*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border-color: #fff;
    outline: none !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(255, 239, 255, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
  outline: 0 none;
}

.animate_wrapper{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.animate_field{
    background-color: #fff;
}

.animate{
    -webkit-transform: translate3d(80%, 0, 0);
    transform: translate3d(70%, 0, 0);
    -webkit-transition-delay: 0.06s;
    transition-delay: 0.06s;
}

.animate_label{
    position: absolute;
    top: 0;
    background-color: #eee;
    height: inherit;
    width: 100%;
    color: #555555;
    padding: 10px 10px 5px;
    font-weight: 600;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

